.post {
  a {
    text-decoration: underline;
  }

  p {
    margin: 0.5rem 0;
  }
}

.post h1,
.post h2,
.post h3,
.post h4 {
  margin: 1rem 0;
}

.posts li {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.posts li a,
.posts li div,
.projects li a {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.posts li time,
.projects li time {
  padding-left: 1rem;
  white-space: nowrap;
  font-variant-numeric: tabular-nums;
}
