.post {
  a {
    text-decoration: underline;
  }

  p {
    margin: 0.5rem 0;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 1.25rem 0 0.5rem 0;
  }

  ul {
    margin-left: 1rem;
    padding-left: 0.5rem;
  }
}
